alembic==1.15.2
Flask==3.1.0
Flask_Bcrypt==1.0.1
flask_cors==5.0.1
flask_limiter==3.12
flask_mail==0.10.0
Flask_Migrate==4.1.0
flask_sqlalchemy==3.1.1
itsdangerous==2.2.0
Pillow==11.2.1
pydantic==2.11.3
Requests==2.32.3
