<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="/static/chat-app/css/index.css" rel="stylesheet">
    <link href="/static/chat-app/css/login.css" rel="stylesheet">
</head>
<body class="auth-page">
    <div class="container">
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <h2 class="text-center mb-4">用户登录</h2>
                <form id="loginForm">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="username" placeholder="用户名" required>
                    </div>
                    <div class="password-wrapper mb-3 ">
                        <input type="password" class="form-control" id="password" placeholder="密码" required>
                        <span class="toggle-password">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>

                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   id="captcha"
                                   placeholder="验证码"
                                   required>
                            <img src="/api/captcha" class="captcha-img"
                                 alt="验证码"
                                 onclick="this.src='/api/captcha?t='+Date.now()">
                        </div>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="agreeTerms" required>
                        <label class="form-check-label" for="agreeTerms">
                            我已阅读并同意<a href="/terms" target="_blank" class="text-decoration-none">《服务协议》</a>
                        </label>
                        <div class="invalid-feedback">
                            必须同意服务协议才能注册
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">登录</button>
                </form>
                <div class="mt-3  d-flex justify-content-between">
                    <a href="/forgot_password" class="text-secondary text-decoration-none">忘记密码？</a>
                    <a href="/register" class="text-decoration-none">注册新账号</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/chat-app/js/login.js"></script>
    <script src="/static/chat-app/js/chat.js"></script>
</body>
</html>